# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mac
.DS_Store

# Other
*.tsv
*.pt
gpt*.txt
*.env
local/
local_*
build/
*.egg-info/
.idea
.venv

# Project-specific
secrets.toml
*.log
*/assertion.log
*results/
.venv/
config.bat
node_modules
